.film-detail {


  &__header {
    margin-bottom: 50px;
    text-align: center;

    &__episode,
    .info-box-detail__topline {
      display: block;
      font-size: 25px;
      color: #10172c;
      margin-bottom: 30px;
      position: relative;
    }
    .info-box-detail__topline {
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background-color: #10172c;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    h1 {
      margin: 0;
      font-size: 75px;
      font-weight: 600;
      color: #1a1a1a;

      @media (max-width: 768px) {
        font-size: 40px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      &__right {
        order: -1;
      }
    }

    &__left {
      p {
        margin: 0 0 0.5rem;
        color: #333;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    &__right {
      .image-container {
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        background-color: #e5e7eb;

        img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }
      }
    }
  }

  &__links {
    &__holder {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 46px;
    }
  }
}

.detail-box__label {
  font-weight: 600;
  color: #10172c;
  margin: 0 0 0.5rem !important;
  font-size: 25px;
}
