.modal-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-panel {
  background: #fff;
  box-shadow: 2px 6px 12px #00000059;
  max-width: 520px;
  width: 100%;
  max-height: calc(100vh - 48px);
  overflow: auto;
  padding: 55px;

  &__header {
    text-align: center;
    margin-bottom: 55px;
  }

  &__title {
    margin: 0;
    font-size:  25px;
    font-weight: 600;
    color: #1a1a1a;
  }
}
