* {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0 24px;
}

p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 53px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
