* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 80px;
}

h2,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 53px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
