<header class="header">
  <div class="header__logo">
    <span class="header__title">Angular App</span>
  </div>
  <div class="header__nav">
    <a href="/" class="header__nav-link">Star Wars</a>
    <a href="/films" class="header__nav-link">Filme</a>
    <a href="/characters" class="header__nav-link">Charaktere</a>
    <a href="/planets" class="header__nav-link">Planeten</a>
  </div>
  <div class="header__search">
    <input type="text" class="header__search-input" placeholder="Suche">
  </div>
</header>

