.header {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1385px;
    margin: 0 auto;
    padding: 57px 24px;
    gap: 50px;

    @media (max-width: 768px) {
      gap: 20px;
      padding: 30px 24px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03em;
  }

  &__nav {
    display: flex;
    gap: 17px;
  }

  &__nav-link {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #10172c;
    text-decoration: none;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #10172c;
    }

    &.active {
      border-bottom: 1px solid #10172c;
    }
  }

  &__btn {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #10172c;
    background: none;
    border: 1px solid #10172c;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: #10172c;
      color: #fff;
    }
  }

  &__search {
    margin-left: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

