<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <span class="header__title">Star Wars</span>
    </div>
    <div class="header__nav">
      <a [routerLink]="['/films']" class="header__nav-link" [class.active]="router.url === '/films'">Filme</a>
      <a [routerLink]="['/characters']" class="header__nav-link" [class.active]="router.url === '/characters'">Charaktere</a>
      <a [routerLink]="['/planets']" class="header__nav-link" [class.active]="router.url === '/planets'">Planeten</a>
    </div>
  </div>
</header>

